<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/user/add}" th:object="${newUser}">
    <label for="username">username: </label>
    <input type="text" th:field="*{username}" id="username" th:required="true"/><br>

    <label for="password">password: </label>
    <input type=password th:field="*{password}" id="password" th:required="true"/><br>

    <label for="name">Name: </label>
    <input type="text" th:field="*{firstName}" id="name" th:required="true"/><br>

    <label for="surname">LastName: </label>
    <input type="text" th:field="*{lastName}" id="surname" th:required="true"/><br>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age" required/><br>

    <label>Roles:
        <input type="checkbox" name="rolesIdSelect"
               th:each="role : ${roleList}"
               th:value="${role.id}"
               th:text="${role.name}"
        />
    </label>


    <br><br>
    <input type="submit" value="Create"/>
</form>

<form method="GET" action="/logout">
    <input type="submit" value="Logout">
</form>

</body>
</html>