<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <title>Admin panel</title>
</head>

<body>
<div>
 <!--         верхняя панель-->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">

                <span>
                    <span id="infoUsername"></span> with roles:
                    <span id="infoRoles"></span>
                </span>
        </a>
        <a class="nav-link text-secondary " href="/logout"><h6>Logout</h6></a>
    </nav>

<!--  боковая панель  -->
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div id="test" class="col-lg-2">
                <form action="/admin" method="GET">
                    <button class="btn btn-primary btn-lg btn-block" style="text-align: left" type="submit">Admin</button>
                </form>
                <form action="/user" method="GET">
                    <button class="btn btn-link btn-lg btn-block" style="text-align: left" type="submit">User</button>
                </form>
            </div>
<!--    Выбор из таблицы или добавления нового пользователя-->
            <div class="col-lg-10 gray tab-content">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mb-0">Admin Panel</h5>
                    </div>
                    <div class="card-body" style="background-color: rgba(0,0,0,0.03);">
                        <div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Users table</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#newUser">New user</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="tab-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">All users</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive" title="Edit">
                           <!--    Таблица всех пользователей-->
                                                <table class="table" id="mainTableWithUsers">
                                                    <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>Age</th>
                                                        <th>Email</th>
                                                        <th>Role</th>
                                                        <th>Edite</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id = "allUsersBody">

                                                    </tbody>
                                                </table>
                                            </div>

                                            <!--    модальное окно "изменить"-->
                                            <div id="editUser" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" >
                                                <div class="modal-dialog" role="document" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edite user</h4><button type="button" class="btn-close" data-dismiss="modal"
                                                                                                           aria-label="Close"></button></div>
                                                        <div class="modal-body text-center">
                                                            <form class="text-center d-inline-block" >
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Id</label><input id="editId" class="form-control" type="number"  name="Id" readonly></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">First name</label><input id="editFirstName" class="form-control" type="text" required="" minlength="2" maxlength="17" name="FirstName" ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Last name</label><input  id="editLastName" class="form-control" type="text" required="" minlength="2" maxlength="17" name="LastName"  ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Age</label><input id="editAge" class="form-control" type="number" min="1" max="150" step="1" name="Age"  ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Email</label><input id="editEmail" class="form-control" type="email" name="Email" t ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Password</label><input id="editPassword" class="form-control" type="password" name="Password" ></div>
                                                                <div class="form-group text-center"><label for="editRoles" class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Role</label><select id="editRoles" class="form-control" multiple="multiple" required="" name="nameRoles"><option></option></select></div>
                                                                <div class="modal-footer">
                                                                    <input type="button" class="btn btn-secondary closeButton"
                                                                           data-dismiss="modal" value="Close">
                                                                    <input type="submit" class="btn btn-primary" value="Edit"
                                                                           id="updateButton">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div id="deleteUser" class="modal fade"  role="dialog" tabindex="-1" >
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Edite user</h4><button type="button" class="btn-close" data-dismiss="modal"
                                                                                                           aria-label="Close"></button></div>
                                                        <div class="modal-body text-center">
                                                            <form class="text-center d-inline-block">
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Id</label><input id="deleteId" class="form-control" type="number" name="Id" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">First name</label><input id="deleteFirstName" class="form-control" type="text" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Last name</label><input id="deleteLastName" class="form-control" type="text" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Age</label><input id="deleteAge" class="form-control" type="number" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Email</label><input id="deleteEmail" class="form-control" type="email" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Password</label><input id="deletePassword" class="form-control" type="password" readonly ></div>
                                                                <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Role</label><select  id="deleteRoles" class="form-control" multiple="multiple" required="" name="nameRoles" readonly><option ></option></select></div>
                                                                <div class="modal-footer">
                                                                    <input type="button" class="btn btn-secondary closeButton"
                                                                           data-dismiss="modal" value="Close">
                                                                    <input type="submit" class="btn btn-primary" value="Delete"
                                                                           id="deleteButton">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>




                                <!--                                    добавление нового пользователя-->
                                <div class="tab-pane text-center" role="tabpanel" id="newUser" style="background-color: rgb(255,255,255);">
                                    <div class="card">
                                        <div class="card-header text-left">
                                            <h5 class="mb-0">Add new user</h5>
                                        </div>
                                    </div>
                                    <form class="text-center d-inline-block" >
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">First name</label><input id="newFirstName" class="form-control" type="text" required="" minlength="2" maxlength="17" placeholder="FirstName" name="FirstName"></div>
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Last name</label><input id="newLastName" class="form-control" type="text" required="" minlength="2" maxlength="17" placeholder="LastName" name="LastName"></div>
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Age</label><input id="newAge" class="form-control" type="number" min="1" max="150" step="1" placeholder="Age" name="Age"></div>
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Email</label><input id="newEmail" class="form-control" type="email" placeholder="Email" name="Email"></div>
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Password</label><input id="newPassword" class="form-control" type="password" placeholder="Password" name="Password"></div>
                                        <div class="form-group text-center"><label class="text-center" style="font-size: 18px;filter: hue-rotate(0deg);font-weight: bold;">Role</label><select id="newRoles" class="form-control" multiple="multiple" required="" name="nameRoles"><option></option></select></div>

                                        <button
                                                class="btn btn-primary" type="submit" style="background-color: rgb(37,166,49);">Add new user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

<script src="/app.js"></script>

</body>

</html>